<div class="init-login">
  <div class="modal-dialog">
      <div class="loginmodal-container">
        <h1>Login to Your Account</h1><br>
        <%= form_tag "/sessions" do %>
          <input id="user" type="text" name="session[username]" placeholder="Username">
          <input id="password" type="password" name="session[password]" placeholder="Password">
          <input type="submit" name="login" class="login loginmodal-submit" value="Login">
        <% end %>
      </div>
  </div>
</div>
