<%= render "navbar" %>
<body>
  <div class="container">
   <div>
     <%= @user.first_name %>
     <div id="search">
      <button type="button" class="close">×</button>
      <form href="dashboard">
          <input type="search" value="" placeholder="type keyword(s) here" />
          <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>
</body>
