
<body>
<nav>
  <ul class="nav navbar-nav navbar-right">
   <li><a href="#search">Search</a></li>
  </ul>
</nav>
<!--  make a sub bar below the navbar, it'll make the search function more visible-->
<div class="container">
 <div>
   <% @user. %>
 <div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</div>
</body>
